<html>
<head>
	
	<style>
		html, body {
			margin: 0;
			padding: 0;
			height: 100%;
			
		}
		nav {
			width: 100%;
			height: 54px;
			position: fixed;
			left: 0;
			top: 0;
			background-color: blanchedalmond;
		}
		.box {
			width: 200px;
			height: 100px;
			background-color: skyblue;
			overflow-y: auto;
		}
	</style>
	
</head>	


<body>
	<nav></nav>
	<div class="box">
	  강낭콩
	</div>
	
	<h3>테스트</h3>
	
	<div class="box">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>
	<div class="box">
	  강낭콩
	</div>

	<h3>테스트</h3>

	<div class="box">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>  <div class="box">
    강낭콩
  </div>

  <h3>테스트</h3>

  <div class="box">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>	<div class="box">
	  강낭콩
	</div>

	<h3>테스트</h3>

	<div class="box">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>  <div class="box">
    강낭콩
  </div>

  <h3>테스트</h3>

  <div class="box">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>	<div class="box">
	  강낭콩
	</div>

	<h3>테스트</h3>

	<div class="box">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>  <div class="box">
    강낭콩
  </div>

  <h3>테스트</h3>

  <div class="box">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</body>
</html>
	