<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<style>
			.under-nav aside {
				display: none;
			}
		</style>
	
	
	<form th:action="@{/user/resetPassword}" th:method="post">
		
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="password1" class="form-label">비밀번호 입력</label>
			<input type="password" name="password1" id="password1" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password2" class="form-label">비밀번호 확인</label>
			<input type="password" name="password2" id="password2" class="form-control">
		</div>
		
		<button type="submit" class="btn btn-primary">비밀번호 찾기</button>
	</form>
	</div>
</html>